<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simsapi.mapper.CourseMapper">

    <resultMap id="BaseResultMap1" type="com.simsapi.model.CourseModel">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="schoolid" jdbcType="INTEGER" property="schoolid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="teachername" jdbcType="VARCHAR" property="teachername" />
        <result column="average" jdbcType="DECIMAL" property="average"/>
    </resultMap>

    <sql id="WithCourseAverage_Column_List">
        c.id,c.schoolid,c.name,c.teachername,AVG(cg.grade) as average
    </sql>

    <!-- 学校管理员查询所有课程  -->
    <select id="selectAllCoruse" resultMap="BaseResultMap1">
        select
        <include refid="WithCourseAverage_Column_List"/>
        from course c join coursegrade cg
        on c.id = cg.courseid
        where c.schoolid = #{schoolid}
        group by c.id
    </select>

    <insert id="insertCourseForManager"  parameterType="com.simsapi.model.dto.CourseDto">
        insert into course(schoolid,name,teachername) values
        (#{schoolid},#{name},#{teachername})
    </insert>
</mapper>