<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simsapi.mapper.CoursegradeMapper">

    <resultMap id="BaseResultMap1" type="com.simsapi.model.dto.CoursegradeDto">
        <result column="courseid" jdbcType="INTEGER" property="courseid" />
        <result column="stuid" jdbcType="INTEGER" property="stuid" />
        <result column="grade" jdbcType="INTEGER" property="grade" />
    </resultMap>
    <!--     -->
</mapper>