<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simsapi.mapper.ManagerMapper">

    <resultMap id="BaseResultMap1" type="com.simsapi.model.ManagerModel">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="role" jdbcType="TINYINT" property="role" />
        <result column="schoolid" jdbcType="INTEGER" property="schoolid" />
    </resultMap>

    <select id="selectAllManagers" resultMap="BaseResultMap1">
        select * from manager limit #{start},#{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from manager
    </select>

    <select id="selectRole" resultType="int">
        select role from manager where #{id} = id
    </select>

    <select id="selectForLogin" resultType="com.simsapi.model.ManagerModel">
        select * from manager where #{username} = username and #{password} = password
    </select>

    <select id="selectSchoolid" resultType="int">
        select schoolid from manager where id=#{id}
    </select>

    <insert id="insertManager" parameterType="com.simsapi.model.dto.ManagerDto">
        insert into manager(username,password,name,sex,phone,role,schoolid) values
        (#{username},#{password},#{name},#{sex},#{phone},#{role},#{schoolid})
    </insert>
</mapper>