<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simsapi.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.simsapi.model.dto.StudentDto">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="schoolid" jdbcType="INTEGER" property="schoolid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.simsapi.model.StudentModel">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="schoolid" jdbcType="INTEGER" property="schoolid"/>
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="schoolname" jdbcType="VARCHAR" property="schoolname" />
    </resultMap>
    <sql id="WithSchoolname_Column_List">
        st.id,st.schoolid,st.name,st.age,st.sex,st.phone,st.username,st.password,sc.id,sc.name as schoolname
    </sql>
    <!--  联合查询所有的学生   -->
    <select id="selectAllStudent" resultMap="BaseResultMap1">
        select
        <include refid="WithSchoolname_Column_List"/>
        from student st join school sc
        on st.schoolid=sc.id
        limit #{start},#{pageSize}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from student;
    </select>
</mapper>